{% extends "layout.html" %}

{% block content %}


<h1>Question</h1>

{% for item in question %}

<div class="qstion">
    <p>Person who ask: {{item.user_name}}</p>
    <p id="questitle">Title: {{ item.title }}</p>
    <p>Full question: {{ item.message }}</p>
    <h3>Tags:
        {% for line in tags %}
        {{line.name}}
        {% endfor %}
    </h3>
    {% if item.user_name != session["user_name"] and session["type"] != "visitor" %}
    <a href="{{ url_for('question_vote_up', question_id = item.id) }}">UP</a>
    <a href="{{ url_for('question_vote_down', question_id = item.id) }}">DOWN</a>
    {% endif %}

    <p>Vote number: {{ item.vote_number }}
        | Posted: {{ item.submission_time }}</p>
</div>
{% endfor %}
{% for item in question_comments %}
{% if item.answer_id == None %}
<p>{{item.user_name}}'s comment: {{item.message}}</p>
{% if item.user_name == session["user_name"] %}

<td><a href="{{ url_for('delete_question_comment', comment_id = item.id, question_id = item.question_id) }}">Delete
    comment</a></td>
<td><a href="{{ url_for('edit_question_comment',comment_id = item.id) }}">Edit comment</a></td>
{% endif %}
{% endif %}
{%endfor%}


{% for line in question %}
{% if session["type"] != "visitor" %}
<br/>
<a href="{{url_for('add_comment_to_question', question_id = line.id)}}">Add comment</a>
{% endif %}
{% endfor %}
<h1>Answer</h1>
<div class="qstion">
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Answer</th>
            <th>Vote number</th>
            <th>Posted at:</th>
            <th>Vote up</th>
            <th>Vote Down</th>
            <th>Accept</th>
            <th> Add comment</th>
            <th>Edit answer</th>
            <th>Delete answer</th>


        </tr>
        </thead>
        {% for item in answer %}
        <tbody>
        <tr>
            <td>{{item.user_name}}</td>
            <td>{{ item.message }}</td>
            <td>{{ item.vote_number }}</td>
            <td>{{ item.submission_time }}</td>
            {% if item.user_name != session["user_name"] and session["type"] != "visitor"%}

            <td><a href="{{ url_for('answer_vote_up', question_id = item.question_id, answer_id = item.id) }}">Vote
                up</a></td>

            <td><a href="{{ url_for('answer_vote_down', question_id = item.question_id, answer_id = item.id) }}">Vote_down</a>
                {% if item.accepted < 1 %}
            <td><a href="{{ url_for('accept_answer', answer_id = item.id) }}">Accept answer</a></td>
                {% else %}
                <td><p>Not allowed</p></td>
                {% endif %}
            {% else %}
            <td><p>Not allowed</p></td>
            <td><p>Not allowed</p></td>
            {% endif %}



            {% if item.user_name == session["user_name"] and session["type"] != "visitor" %}

            <td><a href="{{ url_for('delete_answer', question_id = item.question_id, answer_id = item.id) }}">Delete answer</a></td>

            <td><a href="{{ url_for('edit_answer',answer_id = item.id) }}">Edit answer</a></td>
            {% else %}
            <td><p>Not allowed</p></td>
            <td><p>Not allowed</p></td>

            {% endif %}

            {% if session["type"] != "visitor" %}
            <td><a href="{{url_for('add_comment_to_answer', answer_id = item.id)}}">Add comment</a></td>
            {% else %}
            <td><p>Not allowed</p></td>

            {% endif %}

        </tr>

        {% for line in answer_comments %}
        {% if item.id == line.answer_id %}
        <tr>
            <td>{{item.user_name}}'s comment: {{ line.message }}</td>
        </tr>
        {% endif %}
        {% endfor %}


        {% endfor %}
        </tbody>
    </table>

</div>
<br>

<div class="link">
    {% for item in question %}
    {% if item.user_name != session["user_name"] and session["type"] != "visitor" %}


    <a href="{{ url_for('add_answer', question_id = item.id )}}">Add answer</a>
    {% endif %}
    {% if item.user_name == session["user_name"] %}
    <a href="{{ url_for('edit_question', question_id = item.id )}}">Edit question</a>

    <a href="{{ url_for('delete_question', question_id = item.id  ) }}">Delete question</a> <br>


    {% endif %}
    {% endfor %}


    <a href="/list">Back to questions</a>
    <p></p>
</div>


{% endblock %}

