<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style3.css">
    <meta charset="UTF-8">
    <title>AskMate</title>
</head>
<body>
<h1>Question</h1>
{% for item in question %}
    <div class="qstion">
    <p id="questitle">{{ item.title }}</p>
    <p>{{ item.message }}</p>


        <a href="{{ url_for("question_vote_up", question_id = item.id) }}">UP</a>
        <a href="{{ url_for("question_vote_down", question_id = item.id) }}">DOWN</a>


        <p>Vote number: {{ item.vote_number }}
            | Posted: {{ item.submission_time }}</p>


    </div>
{% endfor %}
<h1>Answer</h1>
<div class="qstion">
<table>
    {% for item in answer %}
        <thead>
        <tr>
        <td>{{ item.message }}</td>
        <td>{{ item.vote_number }}</td>
        <td>{{ item.submission_time }} </td>
        <!--<td><a href="{{ url_for("answer_vote_upp", answer_id = item.id, question_id = item.question_id) }}">UP</a></td>
        <td> <a href="{{ url_for("answer_vote_downn", answer_id = item.id, question_id = item.question_id) }}">DOWN</a></td>-->
        <td><a href="{{ url_for("delete_answer", question_id = item.question_id, answer_id = item.id) }}">Delete answer</a></td>

            {% endfor %}

        </tr>
    </thead>
</table>
</div>
<br>

<div class="link">
{% for item in question %}
<a href="{{ url_for("edit_question", question_id = item.id )}}">Edit question</a>
{% endfor %}

{% for item in question%}
<a href="{{ url_for("add_answer", question_id = item.id )}}">Add answer</a>
{% endfor %}


{% for item in question %}
    <a href="{{ url_for("delete_question" , question_id = item.id  ) }}">Delete question</a> <br>

{% endfor %}
<a href="/list">Back to questions</a>
<p></p>
</div>
</body>
</html>