{% extends "layout.html" %}

{% block content %}



<h1>Question</h1>

{% for item in question %}

<div class="qstion">
    <p id="questitle">{{ item.title }}</p>
    <p>{{ item.message }}</p>

    <a href="{{ url_for('question_vote_up', question_id = item.id) }}">UP</a>
    <a href="{{ url_for('question_vote_down', question_id = item.id) }}">DOWN</a>

<a href=" {{ url_for('display_question', question_id = question_id)}} ">Back to question</a>

    <p>Vote number: {{ item.vote_number }}
        | Posted: {{ item.submission_time }}</p>

</div>
{% endfor%}
{% for item in question_comments %}

<p>{{item}}</p>
            <td><a href="{{ url_for('delete_question_comment', comment_id = item.id, question_id = item.question_id) }}">Delete comment</a></td>
            <td><a href="{{ url_for('edit_question_comment',comment_id = item.id) }}">Edit comment</a></td>

{%endfor%}


{% for line in question %}

<br/>
<a href="{{url_for('add_comment_to_question', question_id = line.id)}}">Add comment</a>

{% endfor %}
<h1>Answer</h1>
<div class="qstion">
    <table>
        {% for item in answer %}
        <thead>
        <tr>
            <td>{{ item.message }}</td>
            <td>{{ item.vote_number }}</td>
            <td>{{ item.submission_time }} </td>

            <td><a href="{{ url_for('answer_vote_up', question_id = item.question_id, answer_id = item.id) }}">Vote up</a></td>
            <td><a href="{{ url_for('answer_vote_down', question_id = item.question_id, answer_id = item.id) }}">Vote_down</a></td>

            <td><a href="{{ url_for('delete_answer', question_id = item.question_id, answer_id = item.id) }}">Delete answer</a></td>
            <td><a href="{{ url_for('edit_answer',answer_id = item.id) }}">Edit answer</a></td>
            <td><a href="{{url_for('add_comment_to_answer', answer_id = item.id)}}">Add comment</a></td>

            {% for line in answer_comments %}

            <td>{{ line.message }}</td>

            {% endfor %}


            {% endfor %}

        </tr>
        </thead>
    </table>

</div>
<br>

<div class="link">
    {% for item in question %}
    <a href="{{ url_for('edit_question', question_id = item.id )}}">Edit question</a>
    {% endfor %}

    {% for item in question%}
    <a href="{{ url_for('add_answer', question_id = item.id )}}">Add answer</a>
    {% endfor %}


    {% for item in question %}
    <a href="{{ url_for('delete_question', question_id = item.id  ) }}">Delete question</a> <br>

    {% endfor %}
    <a href="/list">Back to questions</a>
    <p></p>
</div>


{% endblock %}

