{% extends "layout.html" %}

{% block content %}


<table id="main_table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Submission Time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for row in question %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.submission_time }}</td>
        <td>{{ row.view_number }}</td>
        <td>{{ row.vote_number }}</td>
        <td>{{ row.title }}</td>
        <td>
            <div id="truncateLongTexts">{{ row.message }}</div>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}