{% extends "layout.html" %}

{% block content %}
<H1>LIST</H1>
{% for line in my_id %}
{% if session["type"] != "visitor" %}
<a href="{{ url_for('logout')}}">Log out</a>
<a href="{{ url_for('my_profile', user_id=line.user_id)}}">My profile</a>
{% endif %}
{% endfor %}
{%    if session["type"] == "visitor": %}
<p>All question</p>
{%    elif session["type"] == "user":  %}
{{user_name}}
{% endif %}
<form action="" method="POST" >

    <input type="text" name="search_phrase">
    <button type="submit" name="search_phrase">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th><a href="{{ url_for('list', order_by = 'id', direction = 'ASC') }}">Id</a></th>
        <th><a href="{{ url_for('list', order_by = 'submission_time', direction = 'ASC') }}">Submission time</a></th>
        <th><a href="{{ url_for('list', order_by = 'view_number', direction = 'ASC') }}">View number</a></th>
        <th><a href="{{ url_for('list', order_by = 'vote_number', direction = 'ASC') }}">Vote number</a></th>
        <th><a href="{{ url_for('list', order_by = 'title', direction = 'ASC') }}">Title</a></th>
        <th><a href="{{ url_for('list', order_by = 'message', direction = 'ASC') }}">Message</a></th>
        <th><a href="{{ url_for('list', order_by = 'user_name', direction = 'ASC') }}">User</a></th>

        <th>Image</th>

    </tr>
    </thead>
    <tbody>
    {% for row in question %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.submission_time }}</td>
        <td>{{ row.view_number }}</td>
        <td>{{ row.vote_number }}</td>
        <td><a href="{{ url_for('display_question', question_id = row.id) }}">{{ row.title }}</a></td>

        <td>{{ row.message }} </td>
        <td>{{ row.user_name }} </td>

        <td>{{ row.image }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<a href="{{ url_for('add_question') }}">Add question</a>
{% endblock %}




@database_common.connection_handler
def save_tag(cursor, question_id, tag_id):
    cursor.execute('''
                INSERT INTO comment (question_id, tag_id)
                VALUES %(comment)s

    ''',      {"question_id":question_id, "tag_id":tag_id})