{% extends "layout.html" %}

{% block content %}

{% for line in my_id %}
{% if session["type"] != "visitor" %}
<a href="{{ url_for('logout')}}">Log out</a>
<a href="{{ url_for('my_profile', user_id=line.user_id)}}">My profile</a>
{% endif %}
{% endfor %}


<form action="" method="POST" class="search">

    <input type="search" name="search_phrase" class="input" placeholder="What are you looking for?" required>
    <button class="butt" type="submit" name="search_phrase"> Search</button>
</form>


<table class="table">
    <thead class="head">
    <tr>
        <th><a href="{{ url_for('list', order_by = 'id', direction = 'ASC') }}">Id</a></th>
        <th><a href="{{ url_for('list', order_by = 'submission_time', direction = 'ASC') }}">Submission time</a></th>
        <th><a href="{{ url_for('list', order_by = 'view_number', direction = 'ASC') }}">View number</a></th>
        <th><a href="{{ url_for('list', order_by = 'vote_number', direction = 'ASC') }}">Vote number</a></th>
        <th><a href="{{ url_for('list', order_by = 'title', direction = 'ASC') }}">Title</a></th>
        <th><a href="{{ url_for('list', order_by = 'message', direction = 'ASC') }}">Message</a></th>
        <th><a href="{{ url_for('list', order_by = 'user_name', direction = 'ASC') }}">Asked by:</a></th>


    </tr>
    </thead>
    <tbody>
    {% for row in question %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.submission_time }}</td>
        <td>{{ row.view_number }}</td>
        <td>{{ row.vote_number }}</td>
        <td><a href="{{ url_for('display_question_vote_up', question_id = row.id) }}">{{ row.title }}</a></td>

        <td>{{ row.message }}</td>
        <td>{{ row.user_name }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% if session["user_name"] != "visitor" %}
<a href="{{ url_for('add_question') }}">Add question</a>
{% endif %}
<a href="{{ url_for('tag_list')}}">Tag list</a>
{%    if session["type"] == "visitor": %}
<a href="/">Back to main page</a>


{% endif %}
{% endblock %}


