{% extends "layout.html" %}

{% block content %}
{% if session["type"] == "Admin" %}
<p><a href="{{ url_for('list_of_users')}}">List of users</a><p>
{%  endif   %}
<p>Here you can see all of your activities</p>
<p>My questions:</p>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Message</th>
    </tr>
    </thead>
    {% for user in my_questions %}
    <tbody>
    <tr>
        <td><a href="{{ url_for('display_question', question_id = user.id) }}">{{ user.title }}</a></td>

        <td>{{user.message}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<p>My answers:</p>

    {% for user in my_answers %}
        <a href="{{ url_for('display_question', question_id = user.question_id) }}">{{ user.message }}</a>

        <p>{{user.message}}</p>

    {% endfor %}

<p>My comments:</p>

    {% for user in my_comments %}
        <a href="{{ url_for('display_question', question_id = user.question_id) }}">{{ user.message }}</a></br>

    {% endfor %}
    <a href="/list">Back to questions</a>

    {% endblock %}